.App {
  text-align: center;
}

.Item {
  position: relative;
  display: block;
  clear: both;
}

.Item-Names {
  display: table-cell;
  vertical-align: middle;
  padding-right: 15px;
}


.Item-Maker {
  margin: 0 0 5px 0;
  text-align: left;
}


.Item-Elem {
  top: 50%;
  display: table-cell;
  vertical-align: middle;
}
